.section-heading {
  font-family: 'Rammetto One', cursive;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  color: var(--blackish);
  opacity: 0;
  animation: fadeIn 200ms 650ms linear forwards;
  will-change: opacity;
}


.list {
  display: grid;
  grid-gap: 2rem 2rem;
  opacity: 0;
  animation: fadeIn 200ms 700ms linear forwards;
  will-change: opacity;
  
  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(380px,1fr));
    grid-gap: 2rem 2rem;
  }
}

.list-item {
  line-height: 1.5;

  p {
    padding-right: 2rem;
  }
}

.list-anchor {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  height: 0;
  margin-bottom: 1.75rem;
  display: block;

  &:hover,
  &:focus {
    &::after {
      opacity: 0.1;
    }
  }

  &::after {
    position: absolute;
    background-image: linear-gradient(to top left, var(--pinkish) 0%, var(--blueish) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    mix-blend-mode: color;
    transition: opacity 200ms linear;
    transform: scale(1.01);
    opacity: 1;
    will-change: opacity;

    
  }

  .safari &::after {
    content: none;
  }
}

.article-img {
  max-width: 100%;
  position: absolute;
  top: 0; 
}

.article-vid {
  max-width: 100%;
  position: absolute;
  top: 0; 
  transform: scale(1.01);
}

.article-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.article-title {
  margin-bottom: 2vmin;
  color: var(--blackish);
  // font-size: 2rem;
}

.article-byline {
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 2vmin;
  text-align: right;
}

.byline-anchor {
  position: relative;
  transition: color var(--timing-m) linear;
  will-change: color;
  

  &::after {
    width: 100%;
    content: '';
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: blue;
    opacity: 0;
    position: absolute;
    transition: opacity var(--timing-m) linear, transform var(--timing-m) ease-in;
    will-change: opacity, transform;
    transform: translateY(-2px);
  }

  &:hover,
  &:focus {
    color: blue;
    
    &::after {
      opacity: 1;
      transform: none;
    }
  }
}